/* keyboard button styles */
.key-button {
    -fx-pref-width: 80px;
    -fx-pref-height: 80px;
    -fx-alignment: center;
    -fx-padding: 4px 0;
    -fx-font-size: 24px;
    -fx-font-weight: 700;
    -fx-border-color: black;
    -fx-border-radius: 3px;
    -fx-background-color: #a0a0a0;
    -fx-text-fill: white;
    -fx-cursor: hand;
}
/* desktop when mouse hovers */
.key-button:hover {
    -fx-background-color: #a0a0a0;
}
/* when swiping your finger during a tap */
.key-button:pressed {
    -fx-background-color: #00ff00;
}
/* color during tap or click */
.key-button:armed {
    -fx-background-color: #707070;
}
.key-button:default {
    -fx-background-color: #ff0000;
}
.spacing {
    -fx-margin-top: 5px;
}
.grad-bg {
    -fx-background-color: linear-gradient(to bottom right, #e6e6ff, #d2d2e6);
}
